.city-item {
  border: 1px solid black;
  width: 70%;
  height: 200px;
  border-radius: 25px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.city-name {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 10px;
}

.star-rating {
color: white;
margin-right: 10px;
font-size: 1.5em;
font-weight: bold;
}