$background: rgba(0, 0, 0, 0.5);

.city-item {
  width: 80%;
  height: 255px;
  border-radius: 25px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  padding: 10px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.city-name {
  color: white;
  position: absolute;
  width: 150px;
  font-weight: bold;
  font-size: 1.5em;
  background-color: $background;
  margin-left: -14px;
  padding-right: 30px;
  padding-left: 10px;
  border-radius:0 25px 25px 0;
}

.star-rating {
color: white;
position: sticky;
font-size: 1.2em;
font-weight: bold;
padding-left: 30px;
padding-right: 30px;
background-color: $background;
border-radius:25px 25px 25px 25px;
right:18.05%;
height: 30px;
}

.picz {
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
  margin: -13px;
  border-radius: 25px;
  filter:brightness(80%)
}

.city-item:hover {
  transform: scale(1.02);
}