.comment-form {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-self: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
}

.input-box {
  width: 80%;
  height: 80%;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

.form-div {
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  z-index: 2001;

}

.comment-submit {
  height: 30px;
  width: 50px;
  border: 2px solid green;
  background-color:white;
  border-radius: 25px;
  color: green;
  margin: 10px;
}